# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
.eggs/

# Entorno
.env
*.env.local

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# DB local
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc
